.category-button {
    margin-right: 10px;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.category-div {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 50px;
}