.first-article-div {
    width: 100%;
    height: 100vh;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: black;
    transition: all 0.3s ease;
    cursor: pointer;
}

.first-article-div:hover {
    background-color: rgb(19, 19, 19);
}

.first-article-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.5;
}

.article-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    max-width: 70%;
}

.article-title {
    color: white;
}

.article-div {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.article-div-img {
    width: 120px;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 5px;
    margin-left: 10px;
}

.article-div-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    margin-right: -10px;
}