header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.search-input {
  height: 25px;
  border-radius: 5px 0px 0px 5px;
  border: solid 1px rgb(197, 197, 197);
  border-right: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.search-button {
  margin-right: 50px;
  height: 28.5px;
  width: 80px;
  border: solid 1px rgb(197, 197, 197);
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  background-color: white;
}